*{
    padding:0;
    margin:0;
}
@media (max-width:1200px){
    .mobile{
        background-color: black;
        color:white;
        text-align: center;
    }
}
@media (min-width:678px){
    .mobile{
        background-color: blueviolet;
        color:white;
        text-align: center;
    }
}