*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: cyan;
}

/* Responsive */
/* Desktop First */


@media screen and (max-width: 1200px) {
    .container{
        background-color: deeppink;
    }
}

@media screen and (max-width: 992px) {
    .container{
        background-color: greenyellow;
    }    
}