*{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    border:1px solid rgb(54, 50, 50);
    width:400px;
    height:440px;
}
.fa-solid fa-code{
    padding:0 auto;
}
.logo{
    border:1px solid rgb(54,50,50);
    border:none;
    width: 400px;
    height:200px;
    background-color:rgb(104, 119, 224);
    position: relative;
}
.stuff{
    position: absolute;
    top:10px;
    right:10px;
    opacity: 0.75;
    color:white;
}
.inmain{
    position: relative;
}
.aboutmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:12px;
}
.aboutmain p{
    opacity: 0.5;
}
.line{
    display: flex;
    justify-content: center;
}
.fa-code{
    color:white;
    font-size:70px;
    margin-top:60px;
    margin-left:150px;
}
.line hr{
    width: 70%;
    text-align: center;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:12px;
}
.button{
    border:1px solid #cccc;
    text-decoration: none;
    color:white;
    background-color: rgb(13, 110, 253);
    border-radius: 5px;
    padding:8px;
}
.pricecard{
    color:rgb(115, 118, 242);
    font-size: 25px;
}
h2{
    margin-top: 20px;
}
.main{
    padding:12px;
    
}
.design{
    position: absolute;
    top:5px;
    left:10px;
    border:1px solid #cccc;
    border-radius: 10px;
    padding:3px;
    background-color: rgb(240, 240, 254);
    color:rgb(105, 108, 241);
    border:none;
    
}
.design p{
    opacity: 1;
}
.star{
    position: absolute;
    right:5px;
    top:5px;
    display: flex;
    gap:10px;
}
.fa-star{
    color:rgb(237, 237, 16);
}
@media screen and (max-width:1200px){
    .logo{
        background-color: rgb(112, 94, 188);
    }
}
@media screen and (min-width:678px){
    .logo{
        background-color: rgb(84, 24, 223);
    }
}
