* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: inline-block;
  width: 150px;
}

.error {
  color: red;
  margin-left: 155px;
  display: none;
}

form div {
  margin-bottom: 10px;
}

input {
  padding: 4px;
}