* {
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

.feedback {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
}

h1 {
    color: #0f766e;
    margin-top: 5px;
    width: 350px;
    text-align: center;
}

.feedback input {
    width: 350px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}
.feedback select{
    width: 350px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}
.feedback textarea{
    width: 350px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.feedback label{
    color: #144f4a;
    font-weight: 900;
}

.feedback button{
    background-color: #0ea5a4;
    color: white;
    width: 350px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}