.tiendo{
    height: 250px;
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}

.lammo{
    opacity: 50%;
}
.tieude{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tieude h2{
    margin: 0;
}
.status{
    background-color: #ffe2b8;
    color: #c77600;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}
.progress{
    width: 65%;
}