* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f6f8;
    font-family: cursive;
}

.goichamsocrang {
    border: 2px solid white;
    width: 403px;
    padding: 0px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    transform: scale(1);
    margin: 100px;
}

.card-header {
    background-color: #33f0e8;
    padding: 20px;
    text-align: center;
    position: relative;
}

.card-header h2 {
    margin: 0;
}

.hot {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.goichamsocrang h3 {
    text-align: center;
    background-color: #3bffef;
}
button{
    border-radius: 15px;
    background-color: #00d9ff;
    text-align: center;
    
}

hr{
    color: rgb(242, 245, 247);
}

span{
    color: #16d623;
}

.datlich{
    padding: 20px;
    text-align: center;
}

.datlich button{
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #00d9ff;
    font-size: 18px;
    cursor: pointer;
}