.banner{
    width: 100%;
    height: 150px;
    color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.banner_top {
    flex: 2;
    background-color: #1eff29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner_bottom{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}