body{
    background-color: rgba(240, 249, 255);
}
h1{
    text-align: center;
    background-color: rgba(204, 251, 241);
    color:rgba(21, 120, 110);
}
.tieude2{
    background-color: rgba(224, 242, 254);
    color: rgba(21, 116, 166);
    text-align: center;
    text-decoration: none;
}
.tieude2:hover{
    cursor: pointer;
    background-color: blue;
    color:white;
    font-style:normal;
}
h3{
    text-align: center;
}
.linkweb{
    background-color: rgba(224, 242, 254);
}
.titleintable{
    background-color: rgba(186, 230, 253);
    color:rgba(46, 110, 144);
}
.contentintable:hover{
    background-color:rgba(186, 230, 253);
}
.last{
    text-align: center;
    background-color: rgba(15, 118, 110);
    color:white;
    
}