.banner{
    width: auto;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    align-items: center;
}
h1{
    background-color: #1eff29;
}
span{
    text-decoration: underline;
    text-decoration-style: dotted;
}