* {
    background-color: rgb(242, 247, 245);
}

h2{
    color: rgb(31, 206, 255);
}

.box {
    width: 250px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    position: static;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
}
