*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.bangbacsi {
    width: 403px;
    padding: 0px;
    border: 1px solid black;
}
h1{
    margin: 5px 15px;
    color: rgb(255, 104, 3);
}
.thongtinbacsi{
    margin: 5px 15px;
}
.thammy{
    color: rgb(31, 255, 57);
    font-weight: 900;
}