* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4efe7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */

.container {
  width: 460px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* HEADER */

header {
  background: #d92c2c;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

header p {
  font-size: 14px;
  opacity: 0.9;
}

/* LIST */

.todo-list {
  padding: 20px;
}

/* ITEM */

.todo-item {
  background: #efe4cc;
  border-left: 6px solid orange;
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.todo-item:hover {
  transform: translateX(5px);
}

/* LEFT SIDE */

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-left span {
  font-size: 18px;
}

/* STATUS */

.status {
  font-style: italic;
  color: #777;
}

/* FOOTER */

footer {
  background: #f1f1f1;
  text-align: center;
  padding: 14px;
  font-size: 13px;
  color: #666;
}
