*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tieude{
    background-color: rgb(252, 230, 139);
    color: rgb(120, 53, 14);
    padding: 50px;
    font-size: larger;
    text-align: center;
}

.link{
    border: 1px solid rgb(255, 216, 171);
    background-color: rgb(255, 216, 171);
    padding: 10px;
    text-align: center;
    height: 40px;
}
.link a{
    color: rgb(125, 45, 19);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;

}
.link a:hover{
    border: 1px solid rgb(123, 51, 27);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    background-color: rgb(123, 51, 27) ;
    padding: 10px;
}

.anh-toan-cau{
    position: relative;
}

.anh-toan-cau img{
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slogan1{
    background-color: rgba(242, 248, 252);
    position: absolute;
    color: rgb(64, 43, 29);
    bottom: 40px;
    right: 40px;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

.anh-toan-cau .slogan2{
    background-color: rgba(242, 248, 252);
    position: absolute;
    color: rgb(64, 43, 29);
    bottom: 40px;
    left: 40px;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

.body{
    background-color: rgb(255, 247, 237);
    text-align: center;
    color: rgb(145, 65, 15);
}

.vct{
    max-width: 1200px;
    margin: auto;
}

.body box1{
    width: 40%;
    height: 100px;
}

.bsb1{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 300px;
    max-height: fit-content;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    scale: calc(1);
}

.bsb1:hover{
    background-color: rgb(238, 238, 169);
    transition: 0.5s;
    transform: translateY(-12px);
}

.footer{
    color: white;
    background-color: rgb(120, 53, 14);
    height: 80px;
}

.footer p{
    padding-top: 20px;
}

.ut li{
    padding: 5px;
}

.body box2{
    width: 40%;
    height: 100px;
}

.bsb2{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 300px;
    max-height: fit-content;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    scale: calc(1);
}

.bsb2:hover{
    transition: 0.3s;
    transform: translateY(-6px);
    background-color: rgb(238, 238, 169);
}

.bsb2 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.bsb2 h3{
    margin-bottom: 6px;
}

.bsb2 p{
    margin-bottom: 6px;
}

.bsb2 span{
    opacity: 50%;
    color: black;
}