body {
    font-family: cursive;
    background-color: #fff7ed; 
    color: #3f2a1d;
    font-size: 18px;
}

h1 {
    background-color: #fde68a;
    color: #78350f;
    text-align: center;
    font-size: 32px;
}
