* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

header {
  padding: 30px 10px;
  text-align: center;
  background-color: red;
  margin-top: 20px;
  width: 100%;
  color: white;
  line-height: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.25s linear;
}

header:hover {
  transform: rotate(360deg) translateY(200px) scale(1.3);
  background: linear-gradient(
    305deg,
    rgba(97, 92, 124, 255) 12%,
    rgba(37, 10, 46, 255) 36%,
    rgba(104, 121, 158, 255) 54%,
    rgba(67, 107, 75, 255) 77%,
    rgba(114, 154, 118, 1) 93%
  );
}

.toDoList {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}

.contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #fff8e2;
  border-radius: 10px;
  border-left: 6px solid salmon;
  transition: all 0.25s linear;
}

.contener:hover {
  transform: translateX(10px);
}

.badage {
  display: flex;
  gap: 20px;
  align-items: center;
}

.have:checked + h3 {
  text-decoration: line-through;
}

.Checked {
  background-color: #e8f5ea;
  border-left: 5px solid #045d12;
  filter: brightness(0.95);
}

.btn {
  outline: none;
  border: none;
  background-color: #fff8e2;
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: rebeccapurple;
  border-radius: 4px;
  transform: scale(1.2);
}

.form--contener {
  padding: 20px 30px;
  background-color: #fffee7;
  display: flex;
  gap: 20px;
}

.input-group {
  position: relative;
  flex: 4;
}

.input-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: all 0.25s linear;
  background: white;
  padding: 0 4px;
}

.input-group input:focus + label {
  top: -8px;
  font-size: 12px;
  color: #d1ab50;
}

.form--contener button {
  flex: 1;
  border: none;
  background-color: #d1ab50;
  transition: all 0.15s linear;
}

.form--contener button:hover {
  background-color: rgb(76, 41, 113);
  border: 2px solid rgb(51, 125, 148);
  box-shadow: 1px 1px 1px 1px rgb(66, 107, 86);
  color: white;
  transform: translateY(-5px) scale(1.1);
}

.btn--checked {
  text-decoration: line-through;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: white;
  padding: 20px 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
