* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 350px;
    border-radius: 10px;
}

.card-header {
    height: 180px;
    background: linear-gradient(90deg, rgba(64, 201, 255, 1) 0%, rgba(160, 41, 174, 1) 64%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 10px;
    opacity: 0.9;
}

.icon {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.card-body {
    padding: 20px;
    position: relative;
}

.tag {
    background: #f0f0ff;
    color: #5d5fef;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
}

.star {
    position: absolute;
    right: 10px;
    top: 16px;
    font-weight: bold;
    font-size: 20px;
}

.title {
    margin: 15px 0 10px;
    font-size: 30px;
    color: #333;
}

.description {
    color: #666;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 10px;
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #5d5fef;
    font-weight: bold;
    font-size: 20px;
}

.detail {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.detail:hover {
    background-color: #0056b3;
}