* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1E1E1E;
    height: 97px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header h2 {
    color: #D4AF37;
}

header nav a{
    color: #DDDDDD;
    text-decoration: none;
    margin: 15px;
    font-weight: 700;
}

main{
    display: flex;
    background-color: antiquewhite;
    gap: 30px;
}

.content{
    width: 580px;
    height: 776.17px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 15%;
}

.content h3{
    color: #D4AF37;
    font-size: 28px;
    font-weight: 700;
    margin: 10px;
}

.content p{
    padding: 10px;
    text-align: justify;
}

.content .image{
    margin: 10px;
}

.menu .image img{
    width: 100%;
    height: 100%;
}

.foot{
    background-color: #1E1E1E;
    color: #DDDDDD;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 20px;
}

.foot a{
    color: #DDDDDD;
    text-decoration: none;
    font-weight: 900;
    padding: 10px;
}